/* *{
  padding: 0;
  margin: 0;
} */
ul li {
  padding-right: 5px;
  list-style-type: none;
}
.body-bottom li a i {
  display: none;
  transition: 0.5s ease-in-out;
  position: absolute;
  margin-left: 5px;
  margin-top: 3px;
  size: 5ex;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s ease-in;
}
li a p {
  position: absolute;
  margin-top: 10px;
  color: white;
  margin-left: 5px;
}

.body-bottom li a i:hover {
  color: white;
}
li a p span {
  border-radius: 2px;
  background: rgb(172, 72, 5);
  padding: 0px 3px 0px 3px;
  margin-left: 106px;
}
.image {
  height: 134px;
  width: 240px;
  background: url("https://cnet1.cbsistatic.com/img/bpF07pplVh1ucByibDgGNavU6fE=/940x0/2020/03/02/349bcc4d-9b83-43f3-87ba-6c5a4de4d49c/artemis-fowl-poster-detail.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.2s ease-in;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image1 {
  height: 105px;
  width: 190px;
  background: url("https://cnet1.cbsistatic.com/img/bpF07pplVh1ucByibDgGNavU6fE=/940x0/2020/03/02/349bcc4d-9b83-43f3-87ba-6c5a4de4d49c/artemis-fowl-poster-detail.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.2s ease-in;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: -10px;
  margin-right: -10px;
}
.image2 {
  height: 105px;
  width: 190px;
  background: url("https://cnet1.cbsistatic.com/img/bpF07pplVh1ucByibDgGNavU6fE=/940x0/2020/03/02/349bcc4d-9b83-43f3-87ba-6c5a4de4d49c/artemis-fowl-poster-detail.jpg");
  background-size: 100%;
  background-position: center;
  transition: 0.2s ease-in;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 0px;
  margin-right: 0px;
}
.body-top-vote-left .image {
  margin-bottom: 13px;
}
.body-top-vote-left .image1 {
  margin-bottom: 13px;
}
.body-bottom li a:hover .image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: 120%;
  background-position: center;
}
.body-bottom li a:hover .image1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: 120%;
  background-position: center;
}
.body-bottom li a:hover i {
  display: inline-block;
  transform: scale(1.2);
  margin: 6px 0px 0px 4px;
}

/* what's new today?*/



.body-hot-today-movie{
  border: 1px solid #dbdbdb;
  border: 10px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
.body-hot-today-movie .hot-today-movie-right-description{
  margin-left: 15px;
  margin-top: 20px;
  font-size: 20px;
}